<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="CustomersContext"
         connectionString="Server=688a3139-98c9-4ca4-aa5b-a2a200d74917.sqlserver.sequelizer.com;Database=db688a313998c94ca4aa5ba2a200d74917;User ID=eqcwgrfgkneubagr;Password=PjxZeAsEfQLpRekboGmgUMgvP85Cta3iUcWgnyXRuHVGd6EutjJDWi4ccbjfEXkf;" />
  </connectionStrings>
</configuration>